*-checkpoint.ipynb
.idea/*
*.pkl
*.npy
*.DS_store
*.pdf
*.csv
.ipynb_checkpoints
*.dat
*.json


theory
notes
faq

sentences.txt
lectures.txt
water.txt
pines.txt
diamonds.txt
banknotes.txt
challenger.txt
illiteracy.txt
water.txt
AUCs.txt



