*-checkpoint.ipynb
.idea/*
*.pkl
*.npy
*.DS_store
*.pdf
*.csv
.ipynb_checkpoints
*.dat
*.json


theory
notes
faq
test
train

sentences.txt
lectures.txt
water.txt
pines.txt
diamonds.txt
banknotes.txt
challenger.txt
illiteracy.txt
water.txt
AUCs.txt
botswana.tsv

vgg16_weights.npz
results.txt
class_names.txt
imagenet_classes.py
__pycache__

